/* .contenedor_menu {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-gap: 0px;
    row-gap: 0px;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
        "header header"
        "carta_menu carta_menu"
        "footer footer";
}  */

.MenuItem{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    row-gap: 20px;

}
.contenedor_menu{
    width: 80%;
    max-width: 1000px;
    margin: 120px auto;
}
